.location-container{
  // display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10px;

  .dragable-location {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;

    position: relative;
    text-decoration: none;

    .arrow-box {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      position: absolute;
      left: 100px;
      
      .arrow {
        position: relative;
        width: 10px;
        height: 10px;
        border-top: 2px solid black;
        border-right: 2px solid black;
        // transform: rotate(90deg);
        animation: arrow-animation 2s forwards;
        position: absolute;
        right: 0px;
        opacity: 0;
      }
      
      // .arrow {
      //   transform: rotate(45deg);
      //   // bottom: -60px;
      // }
    
      .arrow-body {
        width: 100px;
        height: 2px;
        background-color: black;
        animation: arrow-body 2s forwards;
        animation-delay: 2.2s;
        opacity: 0;
      }
  
      // .arrow-body {
      //   width: 0;
      // }
    }
  }
  
}
